<footer	class="container-fluid">
	<div class="row">
		<div class="col-8 col-md-8">
			<div class="d-flex justify-content-start">
				<!--Built on planet 🌎 by a few good pirates.-->
				&copy; SWITCH <sup style="line-height: 1;top:0;">&reg;</sup> company &ndash; <a href="https://www.switch.co.za/policies/privacy-policy.html" target="_blank" class="u-text-white">Privacy Policy</a>.
			</div>
		</div>
		<div class="col-4 col-md-4">
			<div class="d-flex justify-content-end">
				<small>v.1.0.0.alpha</small>
			</div>
		</div>
	</div>
</footer>
