@import  '../../../../../theme/app.global.scss';


.dashboard-stepper.mat-stepper-horizontal,
.dashboard-stepper.mat-stepper-vertical {
	font-family: $font_family;
}

.mat-horizontal-content-container {
	padding: 0 !important;

	.mat-flat-button,
	.mat-stroked-button {
		border-radius: 0;
	}
}

.layout-example {
	margin: 1em auto;
	padding: 1em;
	border: 1px solid #cccccc;
	min-height: 290px;

	hr { /*dummy content*/
		height: 6px;
		border: none;
		background: rgba(0, 0, 0, 0.4);

		&:last-child {  /*dummy content*/
			margin-right: 60%;
		}

		&.image { /*dummy content*/
			padding-bottom: 50%;
		}

		&.cta { /*dummy content*/
			padding-bottom: 15%;
		}
	}
}

.form-section-title {
	margin-top: 2em;
	margin-bottom: 0;
	font-weight: 900;
	text-transform: uppercase;
}

.form-dashboard {
	label {
		margin: 1em auto;
	}

	input {
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	.my-checkbox {
		margin-right: 2em !important;
	}

	.form-group {
		margin-bottom: 1em;
	}

	h3 {
		text-transform: uppercase;
	}

	.mat-form-field {
		width: 100%;
	}

	.mat-flat-button,
	.mat-stroked-button {
		border-radius: 0;
	}

	@media screen and (max-width: get-media(s)) {
		.btn {
			font-size: 1em;
			padding: 1em 2em;
		}
	}
}

.add-elements {
	position: relative;
	background-color: rgba(255,255,255,.9);
	padding: 1em;
    padding-left: 2em;
    padding-right: 0;
    display: block;
}

#bannerCanvas {
	position: relative;
	display: block;
	border: 2px dashed #CCC;
	margin: 2em auto;
	margin-left: 0;
}

.creative-canvas-container {
	width: 100%;
	height: 100%;
	min-height: 70vh;
	overflow: visible;

	.mat-drawer-content {
		overflow-y: hidden;
	}
}

.creative-canvas-sidenav-content {
	position: relative;
	display: flex;
	display: block;
	width: 100%;
	height: 100%;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0;

	> .row {
		margin: 0;
		height: 100%;

		.creative-holding-section {
			position: relative;
			width: 30%;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				backdrop-filter: blur(5px);
				background-color: rgba(0,0,0,.1);
				z-index: 9999;

				@include transition(all, 1s, ease-out);
			}

			&.creative-loaded {

				&:after {
					content: '';
					opacity: 0;
					//backdrop-filter: blur(0);
					pointer-events: none;
				}

			}
		}

		app-banner-creator {
			height: 100%;
		}
	}
}

.creative-canvas-sidenav {
	width: 100%;
	padding: 2em 1em;
	padding: 0;
}

.control-artboard {
	padding-right: 0;
}

.control-panel {
	position: relative;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	//background-color: #dbdbdb;
	border: 1px solid #ababab;
    border-left: none;
	display: flex;
	flex-direction: column;
    justify-content: space-evenly;
	z-index: 2;
	width: 40px;
	border: 3px solid #dbdbdb;

	.component-actions {
		flex-direction: column;
		width: 100%;
		height: 100%;
		justify-content: space-around;
		display: flex;

		.edit-control,
		.mat-icon-button {
			width: 100%;
			height: auto;
			padding-top: 1em;
			padding-bottom: 1em;
			border-radius: 0;
			border-top: 1px solid #e7e7e7;
			border-bottom: 1px solid #ababab;

			border-top: 1px solid #111;
			border-top: none;
			border-bottom: 1px solid #333;
			box-shadow: 0 4px 2px -2px rgb(0 0 0 / 40%);

			@include transition(all, .2s, ease-out);

			&:first-of-type {
				border-top: none;
			}
			&:last-of-type {
				position: relative;
				&:after {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					//border-top: 1px solid #e7e7e7;
					//border-top: 1px solid #111;
				}
			}

			&:hover {
				background-color: #e7e7e7;
				background-color: rgba(0,0,0,.4);
			}
		}
	}

	.layer-component-menu {

	}

	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top:0;
		left:0;
		background-image: url('/assets/images/black_linen_v2.png');
		background-repeat: repeat;
	}
}

app-component-variations {
	@include transition(all, .2s, ease-out);

	&.open {
		opacity: 1;
		pointer-events: all;
	}
	&.close {
		opacity: 0;
		pointer-events: none;
	}


}

/* 3RD STEP */
.filters-container {
	padding-left: 1.5em;

	.mat-form-field {
		width: 100%;
	}

	.name-filter-chip-list {
		width: 100%;
		margin-bottom: 2em;
	}

	.filter-status-toggle {
		display:flex;
		flex-direction:column;
		align-items: flex-end;
		justify-content: flex-start;
	}
}

.preview-image {
	cursor: pointer;
}

.md-avatar{
	width: auto;
    height: 80px;
	position: relative;
	z-index: 1;
	@include transition(all, .5s, ease-out);
	padding: 0.2em;
    border: 1px solid #9e9e9e;

	&:hover,
	&.preview-image-opened {
		filter: grayscale(1);
	}

	//&:hover {
	//	transform: scale(2);
	//}
}

.preview-image-fullsize {
	background-color: #FFFFFF;
	padding: 1em;
	border: 1px solid #ababab;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);

	@include transition(all, .5s, ease-out);
}

.preview-image-open-title {
	span {
		font-family: $font_family;
		font-weight: bold;
	}
}

.variations-preview {
	display:flex;
	flex-direction:row;
	justify-content:space-between;

	div {

	}
}
