
<mat-toolbar class="bapp-admin-toolbar">
	<span class="toolbar-title">
		<span *ngIf="isAddMode">Create Animation</span>
		<span *ngIf="!isAddMode">Edit Animation</span>
	</span>
	<span class="example-spacer"></span>

	<div class="btn-group">
		<button (click)="back()" class="btn btn-dark">Back</button>
	</div>

	<button mat-icon-button (click)="help()" class="Help" aria-label="Help">
		<mat-icon>help</mat-icon>
	</button>

</mat-toolbar>

<form class="form-model-edit" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row row">

        <div class="form-group col-12 col-md-4">

			<mat-form-field class="" appearance="fill">
				<mat-label>Name</mat-label>
				<input matInput placeholder="" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" required />
				<mat-error *ngIf="submitted && f['name'].errors" class="invalid-feedback">
					<div *ngIf="f['name'].errors['required']">Name is required</div>
				</mat-error>
			</mat-form-field>
        </div>
        <div class="form-group col-12 col-md-8">

			<mat-form-field class="" appearance="fill">
				<mat-label>Description</mat-label>
				<input matInput placeholder="" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" required />
				<mat-error *ngIf="submitted && f['description'].errors" class="invalid-feedback">
					<div *ngIf="f['description'].errors['required']">Description is required</div>
				</mat-error>
			</mat-form-field>
        </div>
		<div class="form-group col-12 col-md-6">
			<mat-form-field class="" appearance="fill">
				<mat-label>Antimation Type</mat-label>
				<mat-select formControlName="animationtypeId" [ngClass]="{ 'is-invalid': f['animationtypeId'].errors }">

					<mat-option [value]="animationType.id" *ngFor="let animationType of formDataAnimationTypes;trackBy: ListtrackByFn">
						{{animationType.name}}
					</mat-option>

				</mat-select>
				<mat-error *ngIf="submitted && f['animationtypeId'].errors" class="invalid-feedback">
					<div *ngIf="f['animationtypeId'].errors['required']">Please choose an Animation Type.</div>
				</mat-error>
			</mat-form-field>
		</div>

		<div class="form-group col-12 col-md-6">
			<mat-form-field class="" appearance="fill">
				<mat-label>Animation Easing</mat-label>
				<mat-select formControlName="easingtypeId" [ngClass]="{ 'is-invalid': f['easingtypeId'].errors }">

					<mat-option [value]="easingType.id" *ngFor="let easingType of formDataEasingTypes;trackBy: ListtrackByFn">
						{{easingType.name}}
					</mat-option>

				</mat-select>
				<mat-error *ngIf="submitted && f['easingtypeId'].errors" class="invalid-feedback">
					<div *ngIf="f['easingtypeId'].errors['required']">Please choose an Easing Type.</div>
				</mat-error>
			</mat-form-field>
		</div>

		<div class="form-group col-12 col-md-6">
			<mat-form-field class="bapp-form-field-class" appearance="fill">
				<mat-label>Loop</mat-label>
				<mat-select class="bapp-form-mat-select" formControlName="animationloop" [ngClass]="{ 'is-invalid': f['animationloop'].errors }">

					<mat-option [value]="true">
						Yes
					</mat-option>

					<mat-option [value]="false">
						No
					</mat-option>

				</mat-select>
				<mat-error *ngIf="submitted && f['animationloop'].errors" class="invalid-feedback">
					<div *ngIf="f['animationloop'].errors['required']">Please specify if the animation should loop or not.</div>
				</mat-error>
			</mat-form-field>
		</div>

		<div class="form-group col-12 col-md-6">
			<mat-form-field class="" appearance="fill">
				<mat-label>Order</mat-label>

				<input matInput type="number" min="1" step="1" placeholder="0.00" formControlName="timelineorder" [ngClass]="{ 'is-invalid': submitted && f['timelineorder'].errors }" required />

				<mat-error *ngIf="submitted && f['timelineorder'].errors" class="invalid-feedback">
					<div *ngIf="f['timelineorder'].errors['required']">Please specify the order of the keyframe position.</div>
				</mat-error>
			</mat-form-field>
		</div>
    </div>
	<hr />
	<br />
    <div class="form-group">
		<div class="btn-group">
			<button [disabled]="loading" class="btn btn-success">
				<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
				Save
			</button>
			<a [ngClass]="{ 'disabled': loading }" class="btn btn-secondary" (click)="back()">
				Cancel
			</a>
		</div>
	</div>
</form>
