
<mat-toolbar class="bapp-admin-toolbar">
	<span class="toolbar-title">
		<span *ngIf="isAddMode">Create Font</span>
		<span *ngIf="!isAddMode">Edit Font</span>
	</span>
	<span class="example-spacer"></span>

	<div class="btn-group">
		<button (click)="back()" class="btn btn-dark" id="btn-back">Back</button>
	</div>

	<button mat-icon-button (click)="help()" class="Help" aria-label="Help">
		<mat-icon>help</mat-icon>
	</button>

</mat-toolbar>

<form class="form-model-edit" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row row">

        <div class="form-group col-12 col-md-4">

			<mat-form-field class="" appearance="fill" id="inputName">
				<mat-label>Name</mat-label>
				<input matInput placeholder="" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" required />
				<mat-error *ngIf="submitted && f['name'].errors" class="invalid-feedback">
					<div *ngIf="f['name'].errors['required']">Name is required</div>
				</mat-error>
			</mat-form-field>
        </div>
        <div class="form-group col-12 col-md-8">

			<mat-form-field class="" appearance="fill" id="inputDesc">
				<mat-label>Description</mat-label>
				<input matInput placeholder="" formControlName="description" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" required />
				<mat-error *ngIf="submitted && f['description'].errors" class="invalid-feedback">
					<div *ngIf="f['description'].errors['required']">Description is required</div>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-group col-12 col-md-12">

			<mat-form-field class="" appearance="fill" id="inputFontFam">
				<mat-label>Font Family</mat-label>
				<input matInput placeholder="" formControlName="fontFamily" [ngClass]="{ 'is-invalid': submitted && f['fontFamily'].errors }" required />
				<mat-error *ngIf="submitted && f['fontFamily'].errors" class="invalid-feedback">
					<div *ngIf="f['fontFamily'].errors['required']">Description is required</div>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-group col-12 col-md-4">

			<mat-form-field class="" appearance="fill" id="inputFontW">
				<mat-label>Font Weight</mat-label>
				<mat-select formControlName="fontWeight" [ngClass]="{ 'is-invalid': submitted && f['fontWeight'].errors }" required>
					<mat-option></mat-option>
					<mat-option value="{{fontWeight.name}}" *ngFor="let fontWeight of FontWeights">
						{{fontWeight.name}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="submitted && f['fontWeight'].errors" class="invalid-feedback">
					<div *ngIf="f['fontWeight'].errors['required']">Font Weight is required</div>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-group col-12 col-md-4">

			<mat-form-field class="" appearance="fill" id="inputFontStyle">
				<mat-label>Font style</mat-label>
				<mat-select formControlName="fontStyle" [ngClass]="{ 'is-invalid': submitted && f['fontStyle'].errors }" required>
					<mat-option></mat-option>
					<mat-option value="{{fontStyle.name}}" *ngFor="let fontStyle of FontStyles">
						{{fontStyle.name}}
					</mat-option>
				</mat-select>
				<mat-error *ngIf="submitted && f['fontStyle'].errors" class="invalid-feedback">
					<div *ngIf="f['fontStyle'].errors['required']">Font Style is required</div>
				</mat-error>
			</mat-form-field>
		</div>
		<div class="form-group col-12 col-md-12">

			<mat-form-field class="" appearance="fill" id="inputStylesheet">
				<mat-label>Stylesheet</mat-label>
				<input matInput type="url" placeholder="" formControlName="styleSheet" [ngClass]="{ 'is-invalid': submitted && f['styleSheet'].errors }" required />
				<mat-error *ngIf="submitted && f['styleSheet'].errors" class="invalid-feedback">
					<div *ngIf="f['styleSheet'].errors['required']">URL to a stylesheet is required</div>
					<div *ngIf="f['styleSheet'].errors['pattern']">Please provide valid url to a stylesheet</div>
				</mat-error>
			</mat-form-field>
		</div>

    </div>
	<hr />
	<br />
    <div class="form-group">
		<div class="btn-group">
			<button [disabled]="loading" class="btn btn-success" id="btn-save">
				<span *ngIf="loading" class="mr-1 spinner-border spinner-border-sm"></span>
				Save
			</button>
			<a [ngClass]="{ 'disabled': loading }" class="btn btn-secondary" id="btn-cancel" (click)="back()">
				Cancel
			</a>
		</div>
	</div>
</form>
